* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

/*main * {
  border: 0.01mm solid rgba(255, 0, 0, 0.137);
}*/

/* *********BASIC BODY CONTENT IDENTATION******** */

body {
  height: 100vh;
  background-color: #121214;
  background-position: center;
  background-image: url(./assets/bg.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 160%;
  background-attachment: fixed;
}
body *{
  font-family: 'Special Elite';
  gap: 14px;
}
#innershadow {
    box-shadow: inset 0px 0px 15px 2px #4e0361;
    border-radius: 50%;  
    background: url(https://github.com/andersoncrh.png);
    background-size: 100%;
    width: 150px;
    
}

section div h2{
    letter-spacing: 2px;
}
section div p {
  margin-top: 10px;
  color: #c1c1c1;
}

main {
  background-color: #232424a1;
  box-shadow: 
  0 0 60px 15px #232424;
  display: grid;
  max-width: 720px;
  margin: 32px auto;
  border-radius: 18px;

}
section {
  color: white;
  width: 100%;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, .2);
  /* background: linear-gradient(125deg, #9572FC, #43E7AD, #E2D45C, #9572FC, #43E7AD, #E2D45C); */
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 
  0 0 15px #000000;
}
main section * img {
  width: 120px;
  border-radius: 8px;  
  
}
section div {
  background-color: #262629;
  border-radius: 8px;
  padding: 24px 32px 32px;
  
}
section ul {
  /*background-color: red;*/
  list-style: none; /*remover estilo da lista*/
  display: flex;
  /*background-color: rgb(153, 151, 151);*/
  flex-wrap: wrap; /*não deixar conteúdo da lista escapar das bordas da caixa*/
  margin-top: 24px;  
  border-radius: 8px;
  box-shadow: inset
  0 0 10px #0a0a0a;
  
}
section ul li{  
}
/* ***********ANIMATION********* */
header{
  transition: transform .2s;
}
header:hover{
  transform: scale(1.1);  
}
.profile {
  width: 220px;
  height: 220px;
  display: flex;
  margin: auto;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .ring {
  width: 150px;
  height: 150px;
}
#orb {
  width: 145px;
  height: 145px;
  position: absolute;
  z-index: -3;
  background-color: #7b0d9c;
  border-radius: 42%;
  border: 3px solid #cc09f3e3;
  /* border-bottom: 4px solid #fffb03a4; */  
  animation: animate 4s linear infinite;
  box-shadow: 
    0 0 10px  #ff24244d, 
    0 0 0 10px #8a24ff25, 
    0 0 10px #ff5724b7,
    0 0 15px #ff2424, 
    0 0 20px #24defffb, 
    0 0 50px #7824ff;    
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
